.newness-tpl {
    margin-top: 1rem;
    >.content {
        width: 60%;
        min-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: .5rem;
        margin: 1rem 0;
        padding: 2rem 4rem;
        >.title {}
        >.form-group {
            width: 100%;
            margin-top: 2.4rem;
            display: flex;
            justify-content: space-between;
            >.label {
                flex: 1;
                align-self: flex-start;
            }
            >.fild {
                flex: 1 50%;
                position: relative;
                >.has-error {
                    position: absolute;
                    font-size: .9rem;
                    font-weight: 300;
                    color: $danger-color;
                }
            }
        }
        >.action {
            position: relative;
            margin-top: 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            >.has-error {
                position: absolute;
                font-size: .9rem;
                font-weight: 300;
                color: $danger-color;
                align-self: center;
                bottom: 30px;
            }
        }
    }
}