<form name="form" ng-submit="$ctrl.login(form.$valid)" novalidate>
    <article class="content-login">
        <div class="login">
            <h1 class="title">Acesso ao dashboard</h1>
            <div class="form-group">
                <label class="label" for="">Usuário:</label>
                <div class="fild">
                    <input class="-input" ng-class="{'-error':(form.$submitted || form.email.$touched) && (form.email.$error.required || form.email.$error.email)}" type="email" name="email" ng-model="$ctrl.user.email" placeholder="Insira seu e-mail." required>
                    <div class="has-error" ng-show="form.$submitted || form.email.$touched">
                        <span ng-show="form.email.$error.required">Insira seu e-mail.</span>
                        <span ng-show="form.email.$error.email">Este não é um email válido.</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="label" for="">Senha:</label>
                <div class="fild">
                    <input class="-input" ng-class="{'-error':(form.$submitted || form.password.$touched) && form.password.$error.required}" type="password" name="password" ng-model="$ctrl.user.password" placeholder="Escreva sua senha" required>
                    <div class="has-error" ng-show="form.$submitted || form.password.$touched">
                        <div ng-show="form.password.$error.required">Digite sua senha.</div>
                    </div>
                </div>
            </div>
            <div class="action">
                <button class="-button" type="submit">Entrar</button>
                <div class="has-error" ng-show="form.$submitted && $ctrl.err">
                    <span ng-show="$ctrl.err">Usuário ou senha inválido</span>
                </div>
                <a href="#" ng-click="$ctrl.show(form)">Criar uma conta</a>
            </div>
        </div>
    </article>
</form>