<nav class="nav">
    <ul class="list">
        <li class="item" ui-sref-active="active">
            <a ui-sref="app.product" class="box">
                <img class="icon" ng-src="./../../assets/svg/home.svg">
                <div class="text">
                    Produtos
                </div>
            </a>
        </li>
        <li class="item" ui-sref-active="active">
            <a ui-sref="app.news" class="box">
                <img class="icon" ng-src="./../../assets/svg/news.svg">
                <div class="text">
                    Comandas
                </div>
            </a>
        </li>
        <li class="item" ui-sref-active="active">
            <a ui-sref="app.news" class="box">
                <img class="icon" ng-src="./../../assets/svg/news.svg">
                <div class="text">
                    Finaceiro
                </div>
            </a>
        </li>
    </ul>
</nav>