@import "common/index";
@import "common/variables";
@import "app/template/index";
@import "./app/pages/product/product";
@import "./app/pages/login/login";
@import "./app/pages/newness/newness";
@import "./app/components/news/news";
@import "../node_modules/angular-material/angular-material";

// Reset
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

img {
  border: none;
  max-width: 100%
}

md-content.md-default-theme,
md-content {
  background-color: rgb(255, 255, 255) !important;
}

body {
  margin: 0 auto;
  min-width: 490px;
  overflow-x: hidden;
}

@media (max-width: 490px) {
  body {
    overflow-x: auto;
  }
}

.container {
  margin-top: 1rem;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width:550px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media (min-width:750px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width:1000px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
    max-width: 1280px;
  }
}

@media(min-width:1280px) {
  .container {
    padding-right: 0;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }
}

a {
  color: #5aadbb;
  text-decoration: none;
  display: inline-block;
  &:hover {
    color: #5acddb;
  }
}

// Template
.wrapper {
  display: flex;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
