$backgroud-color:#3C3E52;
$text-color:#ccc;
$text-color-light:#ffffff;
$text-color-dark:#313131;
$border-color:#14d9b2;
$border-color-primary:#f2f2f2;
$primary-color:#4dbfb5;
$primary-disable-color:#216e6d;
$danger-color: #DF4A4A;